* {
  box-sizing: border-box; }

html, body, div, section, ul, li, p, a, span, b, h1, h2, h3, figure {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

li {
  list-style: none; }

img {
  width: 100%;
  height: auto; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Italic.eot");
  src: url("../fonts/Ubuntu-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-Italic.woff2") format("woff2"), url("../fonts/Ubuntu-Italic.woff") format("woff"), url("../fonts/Ubuntu-Italic.ttf") format("truetype"), url("../fonts/Ubuntu-Italic.svg#Ubuntu-Italic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova-LightIt.eot");
  src: url("../fonts/ProximaNova-LightIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-LightIt.woff2") format("woff2"), url("../fonts/ProximaNova-LightIt.woff") format("woff"), url("../fonts/ProximaNova-LightIt.ttf") format("truetype"), url("../fonts/ProximaNova-LightIt.svg#ProximaNova-LightIt") format("svg");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Regular.eot");
  src: url("../fonts/Ubuntu-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-Regular.woff2") format("woff2"), url("../fonts/Ubuntu-Regular.woff") format("woff"), url("../fonts/Ubuntu-Regular.ttf") format("truetype"), url("../fonts/Ubuntu-Regular.svg#Ubuntu-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff2") format("woff2"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype"), url("../fonts/ProximaNova-Light.svg#ProximaNova-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-LightItalic.eot");
  src: url("../fonts/Ubuntu-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-LightItalic.woff2") format("woff2"), url("../fonts/Ubuntu-LightItalic.woff") format("woff"), url("../fonts/Ubuntu-LightItalic.ttf") format("truetype"), url("../fonts/Ubuntu-LightItalic.svg#Ubuntu-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Medium.eot");
  src: url("../fonts/Ubuntu-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-Medium.woff2") format("woff2"), url("../fonts/Ubuntu-Medium.woff") format("woff"), url("../fonts/Ubuntu-Medium.ttf") format("truetype"), url("../fonts/Ubuntu-Medium.svg#Ubuntu-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype"), url("../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova-SemiboldIt.eot");
  src: url("../fonts/ProximaNova-SemiboldIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-SemiboldIt.woff2") format("woff2"), url("../fonts/ProximaNova-SemiboldIt.woff") format("woff"), url("../fonts/ProximaNova-SemiboldIt.ttf") format("truetype"), url("../fonts/ProximaNova-SemiboldIt.svg#ProximaNova-SemiboldIt") format("svg");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Light.eot");
  src: url("../fonts/Ubuntu-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-Light.woff2") format("woff2"), url("../fonts/Ubuntu-Light.woff") format("woff"), url("../fonts/Ubuntu-Light.ttf") format("truetype"), url("../fonts/Ubuntu-Light.svg#Ubuntu-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Bold.eot");
  src: url("../fonts/Ubuntu-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-Bold.woff2") format("woff2"), url("../fonts/Ubuntu-Bold.woff") format("woff"), url("../fonts/Ubuntu-Bold.ttf") format("truetype"), url("../fonts/Ubuntu-Bold.svg#Ubuntu-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova-Extrabld.eot");
  src: url("../fonts/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Extrabld.woff2") format("woff2"), url("../fonts/ProximaNova-Extrabld.woff") format("woff"), url("../fonts/ProximaNova-Extrabld.ttf") format("truetype"), url("../fonts/ProximaNova-Extrabld.svg#ProximaNova-Extrabld") format("svg");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-MediumItalic.eot");
  src: url("../fonts/Ubuntu-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-MediumItalic.woff2") format("woff2"), url("../fonts/Ubuntu-MediumItalic.woff") format("woff"), url("../fonts/Ubuntu-MediumItalic.ttf") format("truetype"), url("../fonts/Ubuntu-MediumItalic.svg#Ubuntu-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-BoldItalic.eot");
  src: url("../fonts/Ubuntu-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-BoldItalic.woff2") format("woff2"), url("../fonts/Ubuntu-BoldItalic.woff") format("woff"), url("../fonts/Ubuntu-BoldItalic.ttf") format("truetype"), url("../fonts/Ubuntu-BoldItalic.svg#Ubuntu-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova-ExtrabldIt.eot");
  src: url("../fonts/ProximaNova-ExtrabldIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-ExtrabldIt.woff2") format("woff2"), url("../fonts/ProximaNova-ExtrabldIt.woff") format("woff"), url("../fonts/ProximaNova-ExtrabldIt.ttf") format("truetype"), url("../fonts/ProximaNova-ExtrabldIt.svg#ProximaNova-ExtrabldIt") format("svg");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova-RegularIt.eot");
  src: url("../fonts/ProximaNova-RegularIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-RegularIt.woff2") format("woff2"), url("../fonts/ProximaNova-RegularIt.woff") format("woff"), url("../fonts/ProximaNova-RegularIt.ttf") format("truetype"), url("../fonts/ProximaNova-RegularIt.svg#ProximaNova-RegularIt") format("svg");
  font-weight: normal;
  font-style: italic; }

@media (min-width: 1200px) {
  .container {
    max-width: 1200px; } }

.btn-primary {
  background-color: #4a5aef; }

.btn-primary.focus, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none; }

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #4a5aef;
  background-color: inherit;
  border-color: #4a5aef; }

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-left: 10px;
  padding-right: 10px; }

.header {
  width: 100%;
  padding: 22px 0;
  box-shadow: 0px 2px 2px 0 #0000000c;
  border: solid 1px #e9ebef; }
  .header .logo {
    display: flex;
    align-items: center;
    max-width: 118px;
    width: 100%;
    height: 100%; }

.main-nav {
  display: flex;
  align-items: center; }
  .main-nav ul {
    display: flex;
    align-items: center; }
    .main-nav ul li + li {
      margin-left: 25px; }
    @media (max-width: 1200px) {
      .main-nav ul li + li {
        margin-left: 15px; } }
    .main-nav ul li a {
      font-family: "ProximaNova", sans-serif;
      font-size: 14px;
      font-weight: 700;
      color: #39485d;
      transition: all 100ms ease 100ms;
      letter-spacing: -0.7px; }
      .main-nav ul li a:hover {
        color: #4a5aef;
        opacity: .6;
        text-decoration: none; }
    @media (max-width: 1200px) {
      .main-nav ul li a {
        font-size: 12px; } }
  .main-nav .contacts-info {
    margin-left: 35px;
    display: flex;
    align-items: center;
    width: 37%; }
    .main-nav .contacts-info .phone-btn {
      max-width: 174px;
      width: 100%;
      height: 38px;
      line-height: 38px;
      padding: 0 16px 0 44px;
      position: relative;
      border: solid 2.5px #e9ebef;
      font-family: "ProximaNova", sans-serif;
      font-size: 14px;
      font-weight: 600;
      text-align: left;
      color: #c6cad0;
      letter-spacing: -0.5px;
      background-color: transparent;
      margin-right: 16px; }
      .main-nav .contacts-info .phone-btn:after {
        content: "";
        width: 24px;
        height: 24px;
        background-image: url(../img/icons-phone.png);
        -webkit-background-size: cover;
        background-size: cover;
        position: absolute;
        left: 15px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
    @media (max-width: 1200px) {
      .main-nav .contacts-info .phone-btn {
        font-size: 12px;
        padding: 0 5px 0 35px; }
        .main-nav .contacts-info .phone-btn:after {
          width: 20px;
          height: 20px;
          left: 10px; } }
    .main-nav .contacts-info .request-btn {
      max-width: 154px;
      width: 100%;
      height: 38px;
      box-shadow: 0px 5px 10px 0 #00000026;
      background-color: #4a5aef;
      padding: 0 20px;
      line-height: 38px;
      font-family: "ProximaNova", sans-serif;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      letter-spacing: -.5px;
      color: #ffffff;
      border: solid 2.5px #4a5aef; }
    @media (max-width: 1200px) {
      .main-nav .contacts-info .request-btn {
        font-size: 12px;
        padding: 0 15px; } }
  @media (max-width: 1200px) {
    .main-nav .contacts-info {
      margin-left: 20px; } }

.swiper-container-banner-gallery {
  width: 100%;
  height: 560px; }
  .swiper-container-banner-gallery .swiper-pagination-bullet {
    width: 18px;
    height: 18px;
    background-color: #4a5aef;
    border: 3px solid #fff;
    margin: 0; }
  .swiper-container-banner-gallery .banner-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
    .swiper-container-banner-gallery .banner-img img {
      height: 100%;
      object-fit: cover; }
  .swiper-container-banner-gallery .container {
    position: relative;
    z-index: 10; }
    .swiper-container-banner-gallery .container .banner-descr {
      max-width: 487px;
      width: 100%;
      margin: 138px 0 44px; }
      .swiper-container-banner-gallery .container .banner-descr .title {
        display: block;
        margin-bottom: 25px;
        font-family: "Ubuntu", sans-serif;
        font-size: 32px;
        font-weight: bold;
        text-align: left;
        color: #39485d; }
      .swiper-container-banner-gallery .container .banner-descr .descr {
        opacity: 0.75;
        font-family: "Ubuntu", sans-serif;
        font-size: 18px;
        line-height: 25px;
        text-align: left;
        color: #6a7476c0; }

.content-section {
  padding: 121px 0;
  position: relative; }
  .content-section.right-bg:after {
    content: '';
    width: 336px;
    height: 517px;
    opacity: 0.8;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url(../img/combined-shape.svg);
    border-image-source: linear-gradient(to right, #f4f8fc, #e2e9f080); }
  .content-section.left-bg:after {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph;
    /*IE*/
    filter: fliph;
    /*IE*/
    content: '';
    width: 280px;
    height: 517px;
    opacity: 0.8;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(../img/combined-shape.svg);
    border-image-source: linear-gradient(to right, #f4f8fc, #e2e9f080); }
  .content-section .section-title {
    font-family: "Ubuntu", sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    color: #39485d; }
  .content-section .section-descr-wrapper {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    .content-section .section-descr-wrapper .section-descr {
      max-width: 470px;
      width: 100%;
      opacity: 0.75;
      font-family: "Ubuntu", sans-serif;
      font-size: 16px;
      line-height: 25px;
      text-align: left;
      color: #6a7476c0; }

.see-more-btn {
  box-shadow: 0px 5px 10px 0 #00000026;
  height: 38px;
  font-family: "ProximaNova", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #ffffff; }

.treatment-direction-list {
  margin-top: 36px; }

.treatment-direction-item {
  box-shadow: 0px 5px 25px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  transition: all 0.3s ease-in-out;
  position: relative; }
  .treatment-direction-item:after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease-in-out; }
  .treatment-direction-item:hover {
    transform: scale(1.1, 1.1); }
    .treatment-direction-item:hover:after {
      opacity: 1; }
  .treatment-direction-item .treatment-direction-item-ico {
    max-width: 151px;
    height: 151px;
    border-radius: 50%;
    background-color: rgba(242, 246, 250, 0.5);
    padding: 35px 0;
    display: flex; }
  .treatment-direction-item .treatment-direction-item-title {
    font-family: "ProximaNova", sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: #4a5aef;
    margin-top: 55px; }
  .treatment-direction-item .treatment-direction-item-descr {
    opacity: 0.75;
    font-family: "ProximaNova", sans-serif;
    font-size: 16px;
    text-align: center;
    color: #6a7476c0;
    margin-top: 15px; }
  .treatment-direction-item .more-btn {
    font-family: "ProximaNova", sans-serif;
    font-size: 16px;
    text-align: center;
    color: #4a90e2;
    margin-top: 30px; }

.abroad-clinics {
  background-color: #f7f8fa; }

.slider-prev.swiper-button-prev {
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  box-shadow: 0px 5px 25px 0 #00000019;
  background-color: #ffffff;
  background-image: none;
  left: -22.5px; }
  .slider-prev.swiper-button-prev:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-image: url(../img/ico-prev.svg);
    width: 12px;
    height: 19px;
    object-fit: contain; }

.slider-next.swiper-button-next {
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  box-shadow: 0px 5px 25px 0 #00000019;
  background-color: #ffffff;
  background-image: none;
  right: -22.5px; }
  .slider-next.swiper-button-next:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-image: url(../img/ico-next.svg);
    width: 12px;
    height: 19px;
    object-fit: contain; }

.four-column-slider {
  position: relative;
  margin-top: 35px; }
  .four-column-slider .slider-img {
    width: 100%;
    height: 300px; }
    .four-column-slider .slider-img img {
      height: 100%;
      object-fit: cover; }
  .four-column-slider .slider-descr {
    padding-top: 14px; }
    .four-column-slider .slider-descr .location {
      font-family: "Ubuntu", sans-serif;
      font-size: 14px;
      font-weight: bold;
      text-align: left;
      color: #4a5aef;
      display: inline-block;
      width: 100%; }
    .four-column-slider .slider-descr .clinics-name {
      font-family: "ProximaNova", sans-serif;
      font-size: 18px;
      font-weight: 600;
      text-align: left;
      color: #39485d;
      margin-top: 17px;
      display: inline-block;
      width: 100%; }
    .four-column-slider .slider-descr .clinics-descr {
      opacity: 0.75;
      font-family: "Ubuntu", sans-serif;
      font-size: 14px;
      text-align: left;
      color: #6a7476c0;
      max-height: 80px;
      overflow: hidden; }

.spa-resorts-clinics-slider {
  position: relative;
  margin-top: 35px; }
