@import "reset";
@import "fonts";
@import "mixins";
@import "variables";

//StyleGuide
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.btn-primary {
  background-color: $mainColor;
}

.btn {
  cursor: pointer;
}

.request-btn {
  max-width: 154px;
  width: 100%;
  height: 38px;
  box-shadow: 0px 5px 10px 0 #00000026;
  background-color: #4a5aef;
  padding: 0 20px;
  line-height: 38px;
  font-family: $ProximaNova;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  letter-spacing: -.5px;
  border: solid 2.5px $mainColor;
  &.light {
    color: #ffffff;
    &:hover {
      color: $mainColor;
      background-color: inherit;
      border-color: $mainColor;
    }
  }
  &.dark {
    color: #ffffff;
    &:hover {
      color: #fff;
      background-color: inherit;
      border-color: #fff;
    }
  }
}

.btn-primary.focus, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-left: 10px;
  padding-right: 10px;
}

//Header
.header {
  width: 100%;
  padding: 22px 0;
  box-shadow: 0px 2px 2px 0 #0000000c;
  border: solid 1px #e9ebef;
  .logo {
    display: flex;
    align-items: center;
    max-width: 118px;
    width: 100%;
    height: 100%;
  }
}

.main-nav {
  display: flex;
  align-items: center;
  ul {
    display: flex;
    align-items: center;
    li {
      & + li {
        margin-left: 25px;
      }
      @media (max-width: 1200px) {
        & + li {
          margin-left: 15px;
        }
      }
      a {
        font-family: $ProximaNova;
        font-size: 14px;
        font-weight: 700;
        color: #39485d;
        transition: all 100ms ease 100ms;
        letter-spacing: -0.7px;
        &:hover {
          color: $mainColor;
          opacity: .6;
          text-decoration: none;
        }
      }
      @media (max-width: 1200px) {
        a {
          font-size: 12px;
        }
      }
    }
  }
  .contacts-info {
    margin-left: 35px;
    display: flex;
    align-items: center;
    width: 37%;
    .phone-btn {
      max-width: 174px;
      width: 100%;
      height: 38px;
      line-height: 38px;
      padding: 0 16px 0 44px;
      position: relative;
      border: solid 2.5px #e9ebef;
      font-family: $ProximaNova;
      font-size: 14px;
      font-weight: 600;
      text-align: left;
      color: #c6cad0;
      letter-spacing: -0.5px;
      background-color: transparent;
      margin-right: 16px;
      &:after {
        content: "";
        width: 24px;
        height: 24px;
        background-image: url(../img/icons-phone.png);
        -webkit-background-size: cover;
        background-size: cover;
        position: absolute;
        left: 15px;
        top: 50%;
        @include y-transform;
      }
    }
    @media (max-width: 1200px) {
      .phone-btn {
        font-size: 12px;
        padding: 0 5px 0 35px;
        &:after {
          width: 20px;
          height: 20px;
          left: 10px;

        }
      }
    }
    .request-btn {
      max-width: 154px;
    }
    @media (max-width: 1200px) {
      .request-btn {
        font-size: 12px;
        padding: 0 15px;
      }
    }
  }
  @media (max-width: 1200px) {
    .contacts-info {
      margin-left: 20px;
    }
  }
}

.swiper-container-banner-gallery {
  width: 100%;
  height: 560px;
  .swiper-pagination-bullet {
    width: 18px;
    height: 18px;
    background-color: #4a5aef;
    border: 3px solid #fff;
    margin: 0;
  }
  .banner-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
  .container {
    position: relative;
    z-index: 10;
    .banner-descr {
      max-width: 487px;
      width: 100%;
      margin: 138px 0 44px;
      .title {
        display: block;
        margin-bottom: 25px;
        font-family: $Ubuntu;
        font-size: 32px;
        font-weight: bold;
        text-align: left;
        color: #39485d;
      }
      @media all and (max-width: 980px) {
        .title {
          font-size: 28px;
        }
      }
      @media all and (max-width: 577px) {
        .title {
          font-size: 24px;
          margin-bottom: 10px;
        }
      }
      .descr {
        opacity: 0.75;
        font-family: $Ubuntu;
        font-size: 18px;
        line-height: 25px;
        text-align: left;
        color: #6a7476c0;
      }
      @media all and (max-width: 980px) {
        .descr {
          font-size: 20px;
        }
      }
      @media all and (max-width: 577px) {
        .descr {
          font-size: 15px;
        }
      }
    }
    @media all and (max-width: 577px) {
      .banner-descr {
        margin: 70px 0 0;
      }
    }
  }
}
@media all and (max-width: 980px) {
  .swiper-container-banner-gallery {
    height: 360px;
  }
}
@media all and (max-width: 577px) {
  .swiper-container-banner-gallery {
    height: 300px;
  }
}
.content-section {
  padding: 121px 0;
  position: relative;
  &.right-bg {
    &:after {
      content: '';
      width: 336px;
      height: 517px;
      opacity: 0.8;
      position: absolute;
      right: 0;
      top: 0;
      background-image: url(../img/combined-shape.svg);
      border-image-source: linear-gradient(to right, #f4f8fc, #e2e9f080);
    }
  }
  &.left-bg {
    background-color: #f7f8fa;
    &:after {
      -moz-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      transform: scaleX(-1);
      -ms-filter: fliph; /*IE*/
      filter: fliph; /*IE*/
      content: '';
      width: 280px;
      height: 517px;
      opacity: 0.8;
      position: absolute;
      left: 0;
      top: 0;
      background-image: url(../img/combined-shape.svg);
      border-image-source: linear-gradient(to right, #f4f8fc, #e2e9f080);
    }
  }
  .section-title {
    font-family: $Ubuntu;
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    color: #39485d;
  }
  @media all and (max-width: 980px) {
    .section-title {
      font-size: 25px;
    }
  }
  .section-descr-wrapper {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .section-descr {
      max-width: 470px;
      width: 100%;
      opacity: 0.75;
      font-family: $Ubuntu;
      font-size: 16px;
      line-height: 25px;
      text-align: left;
      color: #6a7476c0;
    }
    @media all and (max-width: 980px) {
      .section-descr {
        min-width: 100%;
        font-size: 14px;
      }
    }
  }
  @media all and (max-width: 980px) {
    .section-descr-wrapper {
      flex-direction: column;
    }
  }
}

@media all and (max-width: 980px) {
  .content-section {
    padding: 60px 0;
  }
}

@media all and (max-width: 576px) {
  .content-section {
    padding: 30px 0;
  }
}

.see-more-btn {
  box-shadow: 0px 5px 10px 0 #00000026;
  height: 38px;
  font-family: $ProximaNova;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  position: relative;
  z-index: 3;
}

@media all and (max-width: 980px) {
  .see-more-btn {
    font-size: 12px;
    margin-top: 15px;
  }
}

.treatment-direction-list {
  margin-top: 36px;
}
@media all and (max-width: 577px) {
  .treatment-direction-list {
    margin-top: 15px;
  }
}
.treatment-direction-item {
  box-shadow: 0px 5px 25px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 3;
  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease-in-out;
  }
  &:hover {
    transform: scale(1.1, 1.1);
    &:after {
      opacity: 1;
    }
  }
  .treatment-direction-item-ico {
    max-width: 151px;
    height: 151px;
    border-radius: 50%;
    background-color: rgba(242, 246, 250, 0.5);
    padding: 35px 0;
    display: flex;
  }
  .treatment-direction-item-title {
    font-family: $ProximaNova;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: #4a5aef;
    margin-top: 55px;
  }
  @media all and (max-width: 980px) {
    .treatment-direction-item-title {
      margin-top: 25px;
    }
  }
  @media all and (max-width: 577px) {
    .treatment-direction-item-title {
      margin-top: 20px;
    }
  }
  .treatment-direction-item-descr {
    opacity: 0.75;
    font-family: $ProximaNova;
    font-size: 16px;
    text-align: center;
    color: #6a7476c0;
    margin-top: 15px;
  }
  @media all and (max-width: 577px) {
    .treatment-direction-item-descr {
      margin-top: 14px;
    }
  }
  .more-btn {
    font-family: $ProximaNova;
    font-size: 16px;
    text-align: center;
    color: #4a90e2;
    margin-top: 30px;
  }
}
@media all and (max-width: 577px) {
  .treatment-direction-item {
    padding: 15px;
  }
}
.abroad-clinics {
  background-color: #f7f8fa;
}

.slider-prev.swiper-button-prev {
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  background-color: #ffffff;
  background-image: none;
  left: -22.5px;
  &:focus {
    outline: none;
  }
  &:hover {
    box-shadow: 0px 5px 25px 0 #00000019;
  }
  &:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    @include xy-transform;
    background-image: url(../img/ico-prev.svg);
    width: 12px;
    height: 19px;
    object-fit: contain;
  }
}

.slider-next.swiper-button-next {
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  background-color: #ffffff;
  background-image: none;
  right: -22.5px;
  &:focus {
    outline: none;
  }
  &:hover {
    box-shadow: 0px 5px 25px 0 #00000019;
  }
  &:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    @include xy-transform;
    background-image: url(../img/ico-next.svg);
    width: 12px;
    height: 19px;
    object-fit: contain;
  }
}

.four-column-slider {
  position: relative;
  margin-top: 35px;
  .slider-img {
    width: 100%;
    height: 300px;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
  @media all and (max-width: 577px) {
    .slider-img {
      height: 200px;
    }
  }
  .slider-descr {
    padding-top: 14px;
    .location {
      font-family: $Ubuntu;
      font-size: 14px;
      font-weight: bold;
      text-align: left;
      color: $mainColor;
      display: inline-block;
      width: 100%;
    }
    @media all and (max-width: 577px) {
      .location {
        font-size: 12px;
      }
    }
    .clinics-name {
      font-family: $ProximaNova;
      font-size: 18px;
      font-weight: 600;
      text-align: left;
      color: #39485d;
      margin-top: 17px;
      display: inline-block;
      width: 100%;
    }
    @media all and (max-width: 577px) {
      .clinics-name {
        font-size: 14px;
        margin-top: 10px;
      }
    }
    .clinics-descr {
      opacity: 0.75;
      font-family: $Ubuntu;
      font-size: 14px;
      text-align: left;
      color: #6a7476c0;
      max-height: 80px;
      overflow: hidden;
    }
    @media all and (max-width: 577px) {
      .clinics-descr {
        font-size: 12px;
      }
    }
  }
}

.spa-resorts {
  .seo-text {
    margin-top: 96px;
  }
  @media all and (max-width: 577px) {
    .seo-text {
      margin-top: 35px;
    }
  }
}

.spa-resorts-clinics-slider {
  position: relative;
  margin-top: 35px;
  @media all and (max-width: 577px) {
    .spa-resorts-clinics-slider {
      margin-top: 15px;
    }
  }
  .swiper-container-spa-resorts {
    max-height: 300px;
  }
  .slider-descr {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    @include y-transform;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding-left: 46px;
    .location {
      font-family: $Ubuntu;
      font-size: 14px;
      font-weight: bold;
      text-align: left;
      color: #ffffff;
      margin-bottom: 12px;
    }
    @media all and (max-width: 577px) {
      .location {
        font-size: 12px;
      }
    }
    .raiting-wrapper {
      margin-bottom: 19px;
    }
    @media all and (max-width: 577px) {
      .raiting-wrapper {
        margin-bottom: 10px;
      }
    }
    .spa-name {
      font-family: $ProximaNova;
      font-size: 24px;
      font-weight: 600;
      color: #ffffff;
      max-width: 180px;
      width: 100%;
    }
    @media all and (max-width: 577px) {
      .spa-name {
        font-size: 18px;
      }
    }
  }
}

.seo-text {
  .seo-title {
    font-family: $Ubuntu;
    font-size: 24px;
    font-weight: bold;
    color: #39485d;
    margin-bottom: 17px;
    display: inline-block;
  }
  @media all and (max-width: 577px) {
    .seo-title {
      font-size: 20px;
    }
  }
  .read-more-section {
    max-height: 130px;
    overflow: hidden;
    transition: all 200ms linear 100ms;
    &.expand {
      max-height: 100%;
      p {
        color: rgba(106, 116, 118, 1);
      }
    }
  }
  @media all and (max-width: 577px) {
    .read-more-section {
      max-height: 120px;
    }
  }
  p {
    font-family: $Ubuntu;
    font-size: 16px;
    line-height: 25px;
    color: rgba(106, 116, 118, 0.75);
  }
  @media all and (max-width: 577px) {
    p {
      font-size: 12px;
      line-height: 20px;
    }
  }
  .read-more {
    font-family: $Ubuntu;
    font-size: 16px;
    line-height: 25px;
    color: rgba(74, 144, 226, 0.75);
    cursor: pointer;
    transition: all 200ms linear 100ms;
    &:hover {
      color: rgba(74, 144, 226, 1);
    }
  }
  @media all and (max-width: 577px) {
    .read-more  {
      font-size: 14px;
    }
  }
}

.footer-top {
  background-color: #192330;
  padding: 55px 0 40px;
}
@media all and (max-width: 992px) {
  .footer-logo {
    display: block;
    max-width: 300px;
    margin: 0 auto 30px;
    padding: 0 0 0 40px;
  }
}


.footer-menu {
  li {
    & + li {
      margin-top: 20px;
    }
    a {
      font-family: $ProximaNova;
      font-size: 14px;
      text-align: left;
      color: #ffffff;
      transition: all 1s ease-out 50ms;
    }
  }
  @media all and (max-width: 767px) {
    li {
      text-align: center;
      margin-top: 10px;
      & + li {
        margin-top: 10px;
      }
    }
  }
  @media all and (max-width: 560px) {
    li {
      text-align: left;
    }
  }
}
@media all and (max-width: 767px) {
  .footer-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media all and (max-width: 560px) {
  .footer-menu {
    padding-left: 50px;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.footer-info {
  a {
    font-family: $ProximaNova;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    line-height: 25px;
    display: block;
  }
  span {
    font-family: $ProximaNova;
    font-size: 14px;
    color: #ffffff4c;
    display: inline-block;
    margin-top: 20px;
    padding-right: 10px;
  }
}
@media all and (max-width: 767px) {
  .footer-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    a, span {
      margin-top: 10px;
    }
  }
}
@media all and (max-width: 560px) {
  .footer-info {
    padding-left: 50px;
    align-items: flex-start;
    a, span {
      font-size: 12px;
      text-align: left;
    }
  }
}
.footer-social-wrapper {
  display: flex;
  justify-content: flex-end;
  .footer-social {
    max-width: 235px;
    width: 100%;
    .request-btn {
      max-width: 100%;
      background-color: #4a5aef;
    }
  }
  @media all and (max-width: 992px) {
    .footer-social {
      min-width: 300px;
    }
  }
}
@media all and (max-width: 992px) {
  .footer-social-wrapper {
    margin-top: 30px;
    justify-content: center;
  }
}

.social-list {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  li {
    a {
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #252e3b;
      transition: all 500ms ease 50ms;
      svg {
        fill: rgba(255, 255, 255, .2);
        transition: all 500ms ease 50ms;
      }
    }
    &:hover {
      background-color: #303945;
      svg {
        fill: rgba(255, 255, 255, 1);
      }
    }
  }
}

.footer-copyright {
  background-color: #161f2a;
  padding: 15px;
  span {
    font-family: $ProximaNova;
    font-size: 14px;
    text-align: left;
    color: #ffffff40;
  }
}

.mm-menu {
  --mm-color-background: #192330;
  --mm-color-text: #4bb5ef;
  --mm-color-border: #ccc;
}

.mm-navbar {
  --mm-color-background: #192330;
  --mm-color-text-dimmed: #fff;
  --mm-color-button: #4bb5ef;
  --mm-color-border: #ccc;
}

.mm-panel {
  --mm-color-background: #192330;
  --mm-color-text: #fff;
  --mm-color-button: #4bb5ef;
  --mm-color-border: #ccc;
}